{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class='b-files'>
	<h1>{% if seo.header %}{{ seo.header }}{% else %}{{ category.name }}{% endif %}</h1>

	{% for file in category.category_files.all %}
		<div class='b-file m_pdf'>
			<a class='b-file__link' href='{{ file.get_absolute_url }}'>{{ file.name }}</a>
			<div class='b-file__description'>{{ file.description }}</div>

			<div class='b-file__info'>
				<span class='b-file__downloads'>
					<b>{% trans "Downloads" %}</b>: {{ file.downloads }}
				</span>
				<span class='b-file__updated_at'>
					<b>{% trans "Updated At" %}</b>:
					<time>{{ file.updated_at|date }}</time>
				</span>
			</div>
		</div><!-- b-file -->
	{% endfor %}

</div><!-- b-files -->
{% endblock %}
