{% load thumbnail %}
{% load i18n %}

{% firstof size "800x400" as tsize %}

<div class='b-media-slider m-tsize_{{ tsize }}'>
	{% for media in media_group %}
		<div class='b-media-item'>
			{% if media.type == "image" %}
				<figure class='b-media-item__figure'>
						{% thumbnail media.file tsize crop="center" as im %}
							<img src='{{ im.url }}' class='b-media-item__img' alt='{{ media.name }}' title='{{ media.name }}'>
						{% endthumbnail %}
						<figcaption class='b-media-item__title'>
							<b>{{ media.name }}</b>
							<p>{{ media.description|safe }}</p>
						</figcaption>
						<span class="b-media-item__count">{{ forloop.counter }} / {{ media_group.count }}</span>
				</figure>
			{% elif media.type == "video" %}
				<video class='b-media-item__video' width='400' height='300' controls name='{{ media.name }}'>
					<source src='{{ media.file.url }}' type='video/ogg'>
					Пожалуйста обновите браузер.
				</video>
			{% elif media.type == "file" %}
			<a href='{{ media.file.url }}'title='{{ media. }}' class='b-media-item__download'>{% trans "Download File" %}</a>
			{% endif %}
		</div>
	{% endfor %}
</div>