{% load thumbnail %}
{% load i18n %}


{% firstof size "400x300" as tsize %}

<div class='b-media m-tsize_{{ tsize }}'>
	{% for media in files %}
		<a href='{{ media.file.url }}' class='b-media-item' title='{{ media.name }}' rel='{{ media.group }}'>
			{% if media.type == "image" %}
				<figure class='b-media-item__figure'>
						{% thumbnail media.file tsize crop="center" as im %}
							<img src='{{ im.url }}' class='b-media-item__img' alt='{{ media.name }}' title='{{ media.name }}'>
						{% endthumbnail %}
						<figcaption class='b-media-item__title'>
							{{ media.name }}
						</figcaption>
				</figure>
			{% elif media.type == "video" %}
				<video class='b-media-item__video' width='400' height='300' controls name='{{ media.name }}'>
					<source src='{{ media.file.url }}' type='video/ogg'>
					Пожалуйста обновите браузер.
				</video>
			{% elif media.type == "file" %}
			<a href='{{ media.file.url }}'title='{{ media. }}' class='b-media-item__download'>{% trans "Download File" %}</a>
			{% endif %}
		</a>
	{% endfor %}
</div>